{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block main %}
<div class="row-fluid comment-page">
    <div class="span6 comment">
        <h2>Comment {{ document.id }}</h2>
        <h3>Metadata</h3>
        <div class="metadata">
            {% include "metadata.html" %}
        </div>

        <h3>Comment Text</h3>
        <div class="doc-text">
            
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            Collapsible Group Item #1
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            Anim pariatur cliche...
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            Collapsible Group Item #2
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Anim pariatur cliche...
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="span6 survey">
        <h2>Survey</h2>
        <form method="post">
            {% csrf_token %}
            
            {% if form.non_field_errors %}
                {% include "bootstrap_toolkit/non_field_errors.html" %}
            {% endif %}

            {% for field in form.hidden_fields %}
                {% for error in field.errors %}
                    {% include "bootstrap_toolkit/non_field_error.html" %}
                {% endfor %}
            {% endfor %}

            {% for fieldset in form.fieldsets %}
                <fieldset class="{{ fieldset.classes }}">
                {% if fieldset.legend %}
                    <h3>{{ fieldset.legend }}</h3>
                {% endif %}
                {% if fieldset.description %}
                    <p class="description">{{ fieldset.description }}</p>
                {% endif %}
                
                {% for field in fieldset %}
                    {% if not field.name|lower in exclude|lower|split:',' %}
                        {% if not fields or field.name|lower in fields|lower|split:','  %}
                            {% include "bootstrap_toolkit/field.html" %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </fieldset>
            {% endfor %}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">save</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    // hack to rearrange some inputs
    $('.control-group').each(function() {
        var $this = $(this);
        var withMatches = $(this).find('input[data-textbox-mapping]');
        if (withMatches.length) {
            var matches = JSON.parse(withMatches.eq(0).attr('data-textbox-mapping'));
            $.each(matches, function(key, value) {
                var textField = $('#id_' + value);
                var parent = textField.parents('.control-group');
                textField.addClass('inline').remove();
                parent.remove();
                $this.find('input[value=' + key + ']').parent().append(textField);
            })
        }
    })
</script>
{% endblock %}