/* scrollable stuff */
body {
    padding-top: 40px;
}

.container-fluid.max-height {
    padding: 0;
}

.scrollable {
    height: calc(100% - 85px);
    overflow-y: auto;
}

.max-height {
    height: 100%;
}

.no-overflow {
    overflow: hidden;
}

.pad40-top {
    padding-top: 40px;
}

.comment, .survey {
    padding: 10px;
}
.comment {
    background: #ffffff;
    min-height: 98%;
}

/* other stuff */
input.inline {
    font-size: 80%;
    height: 1em;
    margin-bottom: 0;
}

.control-group {
    margin-bottom: 25px;
}

.metadata {
    margin-bottom: 20px;
    padding: 10px;
    background: #eeeeff;
    border: 1px solid #e5e5e5;
}
.metadata dt, dd {
    float: left;
}
.metadata dt {
    clear: left;
}

.comment-page h3 {
    display: block;
    width: 100%;
    padding: 0;
    font-size: 21px;
    line-height: 40px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    font-weight: normal;
    margin: 0 0 20px 0;
}

.comment-page {
    background: #f0f0f0;
}

.clear {
    clear: both;
}

.accordion-heading {
    background: #e5e5e5;
}
.full-text {
    height: 580px;
    padding: 10px;
    overflow: auto;
    border: 1px solid #e5e5e5;
    font-size: 80%;
    background: #eeeeff;
}
.full-text pre {
    margin:0;
    padding:0;
    border:0;
    background: transparent;
    font-size: inherit;
}

.submit-bar .pull-right .btn {
    margin-left: 4px;
}

.canonical-selection {
    margin: 8px;
    margin-top: 0;
}
.canonical-selection input {
    margin: 0;
}